body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    margin-bottom: 20px;
    color: #333;
    margin: 10px;
    border-radius: 10px;
    background-color: aqua;

  }

  #ejerciciosContainer {
    max-width: 800px;
    margin-bottom: 20px;
  }

  .fila {
    display: flex;
    flex-wrap: wrap;
  }

  .ejercicio {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5581b3;
    flex-basis: calc(20% - 10px);
    text-align: center;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #0056b3;
  }